<img id="bgimg" src="/assets/abtbg.png" alt="" srcset="">
<div class="aboutland">
    <div class="abttext">
<h1>Our Story</h1>
<img src="/assets/abtbreaker.png" alt="" srcset=""><br><br>
<p>
    THE SciBOX is a medical writing organisation. It was founded in the year 2020 by our
     respectable founder and CEO Mr. Fahad Ur Rehman. 
     He later teamed up with his friend Tahaa Sohail to take this organisation to the apex of medical writing realm.
</p>
</div>
</div>

<div class="ourstory">
<div class="story st1">
<img src="/assets/abt3.png" alt="" srcset="" width="100%" height="100%">
</div>
<div class="story st2">
    <h1>Inception</h1>
    <img src="/assets/abtbreaker.png" alt="" srcset="" ><br><br>
    <p>It all started when Mr. Fahad Ur Rehman started medical writing as a freelancer on Fiverr. He started it as a side hustle. Along his path he realized that medical writing is something that is in high demand in the global market and is expensive too. So it is then that he founded THE SciBOX in the year 2020. An organization where clients can get proficient medical writers at sensible rates. THE SciBOX’s first venture was Upwork and it did exceptionally well there. Earned “Rising Talent” badge and 100% Job Success Score in no time.
       <br> Evaluation of the market revealed to us that there are levels of medical writing. Not all is strenuous as the name medical implies. This is why we provide medical writers for the small and not-so-demanding tasks. Senior medical writers for the strenuous jobs. And teams for complex jobs.</p>
</div>
</div>

<div class="provide prcom">
    <img id="elli" src="/assets/abtellipse.png" alt="">
    <h1 id="prvhead">What We Provide?</h1>
    <div class="prov">
    <div class="pro pr1">

<img id="o1" src="/assets/01.png" alt="" srcset="">
<p>Avid medical writers equipped with formal medical education.</p><br><br>
<img id="o1" src="/assets/03.png" alt="" srcset="">
<p>Make it possible for you to invest in other areas by providing you medical writers at rates lower than the market. </p>
 </div>
    <div class="pro pr3">
        <img id="o2" src="/assets/02.png" alt="" srcset="">
        <p>Non-conventional working experience.</p><br><br>
            <img id="o2" src="/assets/04.png" alt="" srcset="">
            <p>An environment free of the devastations of<br> chronic cortisol aka stress storm.</p></div></div>
</div>

<div class="provide prmob">
    <img id="elli" src="/assets/abtellipse.png" alt="">
    <h1 id="prvhead">What We Provide?</h1>
    <div class="prov">
    <div class="pro pr1">

<img id="" src="/assets/01.png" alt="" srcset="">
<p>Avid medical writers equipped with formal medical education.</p><br>
<img id="" src="/assets/02.png" alt="" srcset="">
        <p>Non-conventional working experience.</p><br>

 </div>
    <div class="pro pr3">
        <img id="" src="/assets/03.png" alt="" srcset="">
<p>Make it possible for you to invest in other areas by providing you medical writers at rates lower than the market. </p><br>
            <img id="" src="/assets/04.png" alt="" srcset="">
            <p>An environment free of the devastations of chronic cortisol aka stress storm.</p><br></div></div>
</div>
<div class="quality-assurance">
    <div class="quality item1">
        <h1>FAHAD UR<span style="color: #51ADE5;"> REHMAN <br>Founder & CEO </span></h1><br>
        <p>
           “What are you planning to do after this degree”? Inquired my dear professor from my class at university. The typical answers from my fellow peers forced me to think of something out of the box for myself, something not conventional. Because saturation is not good (in majority of scenarios). Long story short, I formed THE SciBOX.  
“Then why THE SciBOX, it literally has a box in the name.” The “BOX” in the name is a representation of how we approach and take care of the tasks you entrust us with. Your tasks are seeds, potential fruit bearing trees. We nourish them by providing them with a safe, healthy and encouraging environment. We facilitate their growth. We don’t let disastrous factors impact them.
I’m a microbiologist and geneticist myself. Been a medical writer for quite some time. Founder of THE SciBOX. And now acting as a CEO to take this brainchild of mine to heights never surmounted.<br><br>
        <a href="https://www.linkedin.com/in/rehman-fahad/"><img src="/assets/abtln.png" alt="" srcset=""></a>&nbsp;&nbsp;&nbsp;&nbsp;
        
        </p>
    </div>
    <div class="quality item2">
        <img id="qualityimage" src="/assets/sciceo.jpg" alt="" srcset=""width="100%">
    </div>
</div>
<div class="quality-assurance" style="padding-bottom: 100px;">
    <div class="quality item2">
        <img id="qualityimage" src="/assets/scicoo.jpg" alt="" srcset="" width="100%">
    </div>
    <div class="quality item1">
        <h1>TAHAA <span style="color: #51ADE5;"> SOHAIL <br>COO</span></h1><br>
        <p>
            Interested in hiring from THE SciBOX? I'll take that as a compliment. Why? Because I with my fellow colleagues have very carefully designed the levels through which writers must pass through, in order to get hired by THE SciBOX. It's a vicious sifting process and verification of their respective credentials.
Reluctant? Well I just told you that our writers have been cherry picked. Plus I get the reluctancy. It's quite natural when attempting something new. It's a human instinct. So take your time and if you need any more elaboration or have some questions, please contact us, we'd be more than happy to comply.
A little about myself. I'm a professional pharmacist and govern all of the operations happening here at THE SciBOX.<br><br>
       <a href="www.linkedin.com/in/Tahaa-Sohail-Bhatti"><img src="/assets/abtln.png" alt="" srcset=""></a>&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
    </div>
   
</div>
<app-footer></app-footer>