<img id="bgimg" src="/assets/chbg.png" alt="" srcset="">
<div class="aboutland">
    <div class="abttext">
        
        <h1>Why Choose Us</h1>
        <img src="/assets/abtbreaker.png" alt="" srcset=""><br><br>
        <p>
            If you can get your work done exceptionally well by not exhausting a big chunk of your resources and time,
            then the question that should be addressed is, “why not choose THE SciBOX”? There are tons of perks
            associated with working with THE SciBOX.
        </p>
    </div>
</div>

<div class="ourstory">
    <div class="story st2">
        <h2 style="font-weight: 700;
        font-size: 54px;">The Best Predictor Of Future Behaviour Is Past Behaviour</h2><br>
        <p>Our past is nothing short of an exception. Our mindset and practice made us accomplish what traditional
            startups set to accomplish in 5-10 years, in no time. So we are geared, prepared to surmount new heights.
            Are you?</p>

    </div>
    <div class="story st1">
        <img src="/assets/chimg2.png" alt="" srcset="" width="100%" height="100%">
    </div>
</div>

<div class="accomp" style="padding-bottom: 40px;">
    <h3 style="padding-bottom: 50px; font-weight: 700;
    font-size: 50px;">Our Accomplishments</h3>
    <div class="acc3">
        <div class="acc ac1">
            <h5 id="numb">160+</h5>
            <div id="cl">
            <h5>
                Clients Locally & Globally
            </h5><br>
            <p>
                Working with us has been a source of triumph for 100+ clients locally and 60+ clients globally.
            </p>
        </div>
        </div>
        <div class="acc ac2" id="#ac2">
            <span id="numb" style="font-size: 18px; font-weight: bold;">TOP RATED PLUS AND</span>
            <h5 id="numb">100%</h5>
            <div id="cl">
            <h5>
                Job Success Score On Upwork
            </h5><br>
            <p>
                Attained the most prestigious hallmarks pertaining to Upwork due to our sheer sincerity, impeccable work ethic, absolute command of the medicine/health field and utmost focus on client contentment, in a span of less than a year.
            </p></div>
        </div>
        <div class="acc ac3">
            <h5 id="numb">Level 2</h5>
            <div id="cl">
            <h5>
                Seller On Fiverr
            </h5><br>
            <p>
                Level 2 seller on Fiverr. From new seller to level 2 quite quick, owing to the proper professionalism and competence.
            </p></div>
        </div>
    </div>
</div>


<div class="accomp " style="margin-top: 50px;">
    <h2 style="padding-bottom: 50px;">Advantages & Perks</h2>
    <div class="acc3 advantage">
        <div class="acc adv ac1">
            <img id="adv" src="/assets/adv1.png" alt="" srcset=""><br>
            Our writers have been through a vicious sifting process. They have been <b>tested and verified</b>. They have formal medical education. All are avid writers and excellent researchers, qualities that are integral for medical writer. 
        </div>
        <div class="acc adv ac2">
            <img id="adv" src="/assets/adv2.png" alt="" srcset=""><br>
            THE SciBOX was featured in magazine,<b> STARTUP INSIDER</b>, because of its unique yet marvellous working strategy. 
        </div>
        <div class="acc adv ac3">
            <img id="adv" src="/assets/adv3.png" alt="" srcset=""><br>
            Owing to our services, we have won <b>Gold Medal</b> at familycon.
        </div>
        <div class="acc adv ac3">
            <img id="adv" src="/assets/adv5.png" alt="" srcset=""><br>
            You can get your work done for less than the normal. Don’t need to provide office space as writers operate remotely. No healthcare provision. No need to monitor writers as they are self-driven. Save money and invest where more of it is required. 
        </div>
        <div class="acc adv ac3">
            <img id="adv" src="/assets/adv4.png" alt="" srcset=""><br>
            Avoid effects of chronic cortisol by hiring <b>seasoned medical writers</b>.
        </div>
    </div>
</div>

<div class="hire" style="margin-bottom: 100px;">
    <div class="hr hr1">    <h3 style="font-weight: 700;">Bid Farewell To The<br> Traditional RECRUITING
    </h3><br>
    <p>If you can get your work done exceptionally well by not exhausting a big chunk of your resources and time, then the question that should be addressed is, “why not choose THE SciBOX”? There are tons of perks associated with working with THE SciBOX.</p><br>
    <button class="btn btn-m btnhire" (click)="goToBottom()">Hire us ➜</button>
</div>

    <div class="hr hr2">
        <img id="hireimg" src="/assets/whyuslst.png" alt="" srcset="">
    </div>
</div>

<app-footer></app-footer>