<img src="/assets/careerbg.png" id="bgimg" alt="" srcset="">
<div class="aboutland">
    <div class="abttext">
        <h1>Career at THE SciBOX</h1>
        <img src="/assets/abtbreaker.png" alt="" srcset=""><br><br>
        <p>
            Join a one of its kind network of medical writers and get access to a galaxy of opportunities.
            Full-time, long-term remote medical writing jobs with massive compensation and career growth.

        </p>
    </div>
</div>

<div class="benefits">
    <div class="accomp ">
        <h2 style="padding-top: 100px; padding-bottom: 50px;">Benefits of Working at THE SciBOX</h2>
        <div class="acc3 advantage">
            <div class="acc adv ac1">
                <img id="adv" src="/assets/career1.png" alt="" srcset=""><br>
                Remote job. Work from the comfort of your home.
            </div>
            <div class="acc adv ac2">
                <img id="adv" src="/assets/career2.png" alt="" srcset=""><br>
                A fun and supportive environment. Not a strenuous one.
            </div>
            <div class="acc adv ac3">
                <img id="adv" src="/assets/career3.png" alt="" srcset=""><br>
                BONUSES ON SPLENDID PERFORMANCES. Isn’t that what you deserve after that?
            </div>
            <div class="acc adv ac3">
                <img id="adv" src="/assets/career4.png" alt="" srcset=""><br>
                You'll not be alone in your pursuit of greatness. Everybody helps everybody here. Just how a community
                should be.
            </div>
            <div class="acc adv ac3">
                <img id="adv" src="/assets/career5.png" alt="" srcset=""><br>
                We want you to thrive not survive with us. That is why we’re not gonna leave you with stale income rather fresh and more than before, every year!
            </div>
        </div>
    </div>
</div>

<div class="works">
    <p style="font-weight: 600;
font-size: 22px; color: #51ADE5;     padding-top: 100px;
    padding-bottom: 20px;">HOW IT WORKS</p>
    <h5 id="h5">Our Hiring Process</h5>

    <div class="steps">
        <div class="step stp1">
            <h1 id="stp">STEP ONE</h1>

            <img id="stimg" src="/assets/step1.png" alt="" srcset="">
            <p id="para"><span style="font-weight: 600;
    font-size: 24px; color: #51ADE5;">Step 1: To Apply</span><br><br>
                Submit a short recorded video of yourself. In it tell us about yourself, your medical background and
                certifications related to medical writing (if any). English language is mandatory for the video. Also
                submit two of your best writing pieces.</p>

        </div>

        <div class="step stp2">
            <h1 id="stp2">STEP TWO</h1>


            <p id="para"><span style="font-weight: 600;
        font-size: 24px; color: #51ADE5;">Step 2: Shortlist</span><br><br>
                Our HR team will shortlist the aspirants. We’ll contact you if you’re shortlisted.</p>
            <img id="stimg" src="/assets/step2.png" alt="" srcset="">
        </div>

        <div class="step stp3">
            <h1 id="stp3">STEP THREE</h1>

            <img id="stimg" src="/assets/step3.png" alt="" srcset="">
            <p id="para"><span style="font-weight: 600;
            font-size: 24px; color: #51ADE5;">Step 3: Get Ready</span><br><br>
                Then you’ll (if shorlisted) have to go through a series of tests and interviews.
                Interviews will be conducted by our HR team & writing heads.
                Tests will be of various nature. You’ll be given topics to write on and will also be tested live or via
                zoom meeting.
            </p>

        </div>

        <div class="step stp2">
            <h1 id="stp2">STEP FOUR</h1>


            <p id="para"><span style="font-weight: 600;
                font-size: 24px; color: #51ADE5;">Step 4: You Will Be Notified</span><br><br>
               In case:<br>
               1. You’re the one we need!<br>
               2. You need to enhance your skills to get hired at THE SciBOX. Remember there’s no such thing as failure. You either win or learn.
               </p>
            <img id="stimg" src="/assets/step4.png" alt="" srcset="">
        </div>

        <div class="step stp3">
            <h1 id="stp">STEP FIVE</h1>

            <img id="stimg" src="/assets/step5.png" alt="" srcset="">
            <p id="para"><span style="font-weight: 600;
            font-size: 24px; color: #51ADE5;">Step 5: You're Hired</span><br><br>
               Welcome to a galaxy of opportunities!

            </p>

        </div>
    </div>
</div>
<app-footer2></app-footer2>