<div class="home">
    <h1 style="font-weight: 600;
font-size: 54px;">BID FAREWELL TO THE <br>TRADITIONAL <span style="color:  #51ADE5;">RECRUITING</span></h1>
</div>
<div class="quality-assurance">
    <div class="quality item1">
        <p style="font-weight: 400;
font-size: 24px;">
            THE SciBOX is an exclusive network of top tier medical writers. Writers with proper formal medical
            background. Ready to write at your timezone.
        </p>
    </div>
    <div class="quality item2">
        <img id="qualityimage" src="/assets/homeimg10.png" alt="" srcset="" width="100%">
    </div>
</div>

<div class="hire hire1">
    <img id="hireimg" src="/assets/homehire.png" alt="" srcset=""  data-aos="fade-right" data-aos-once="true" data-aos-duration="1000"
    data-aos-easing="ease-in-out">
    <h3 style="padding-top: 30px;">HIRE</h3>
    <p>Hire sifted, verified and tested avid medical writers now!</p>
    <button class="btn btn-m arrow" id="arrow1" routerLink="/medicalwriter">➜</button>
</div>

<div class="hire hire3" routerLink="/chooseus" >
    <img id="hireimg" src="/assets/homebox3.png" alt="" srcset="" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000"
    data-aos-easing="ease-in-out">
    <h3 style="padding-top: 30px;">WHY CHOOSE US?</h3>
    <p>Are you fond of chronic cortisol aka stress storm? Or of going through dozens of job applications? <br>Then why not choose us? We have sifted, verified and tested avid medical writers ready to be deployed.</p>
    <button class="btn btn-m arrow" id="arrow3">➜</button>
</div>

<div class="hire hire2" routerLink="/howweoperate" >
    <img id="hireimg" src="/assets/homebox2.png" alt="" srcset=""  data-aos="fade-right" data-aos-once="true" data-aos-duration="1000"
    data-aos-easing="ease-in-out">
    <h3 style="padding-top: 30px;">HOW WE OPERATE?</h3>
    <p>Simple as the operation itself. Quick, authentic and anti-stress process.</p>
    <button class="btn btn-m arrow" id="arrow2">➜</button>
</div>


<div class="hire hire4" routerLink="/pricing">
    <img id="hireimg" src="/assets/homebox4.png" alt="" srcset=""  data-aos="fade-right" data-aos-once="true" data-aos-duration="1000"
    data-aos-easing="ease-in-out">
    <h3 style="padding-top: 30px;">PRICING</h3>
    <p>Profoundly justifiable rates! Avid medical writers!</p>
    <button class="btn btn-m arrow" id="arrow4">➜</button>
</div>

<div class="hire hire5" routerLink="/aboutus">
    <img id="hireimg" src="/assets/homebox5.png" alt="" srcset=""  data-aos="fade-right" data-aos-once="true" data-aos-duration="1000"
    data-aos-easing="ease-in-out">
    <h3 style="padding-top: 30px;">OUR STORY</h3>
    <p>Learn what led to the creation of THE SciBOX!<br> Founder’s message to you.</p>
    <button class="btn btn-m arrow" id="arrow5">➜</button>
</div>

<div class="hire hire6" style="margin-bottom: 100px;" routerLink="/career">
    <img id="hireimg" src="/assets/homebox6.png" alt="" srcset=""  data-aos="fade-right" data-aos-once="true" data-aos-duration="1000"
    data-aos-easing="ease-in-out">
    <h3 style="padding-top: 30px;">CAREER</h3>
    <p>Join us and explore a galaxy of opportunities!</p>
    <button class="btn btn-m arrow" id="arrow6">➜</button>
</div>

<app-footer></app-footer>