<img src="/assets/hwbg.png" id="bgimg" alt="" srcset="">
<div class="aboutland">
    <div class="abttext">
        <h1>How We Operate</h1>
        <img src="/assets/abtbreaker.png" alt="" srcset=""><br><br>
        <p>
            Below is depiction of how we operate. We facilitate you in your pursuit of your aspirations by providing you sifted, tested and verified medical writers. Medical writers proficient at all sorts of writing pertaining to medical domain.
        </p>
    </div>
</div>

<div class="ourstory">
    <div class="story st2">
        <img id="o1" src="/assets/01.png" alt="" srcset="">
       <!-- <p>Are you looking for amazing writers?<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Missing writer portion in your company?<br><br>
            Lorem ipsum dolor sit amet consectetur. Ultrices quis amet sed odio tortor aliquam urna vestibulum aenean.
            Nibh pellentesque tortor tincidunt mattis ultrices adipiscing vitae urna. </p> -->
            <h3>
                YOU'RE LOOING FOR PROFICIENT MEDICAL WRITERS TO AUGMENT YOUR PURSUIT OF EMINENCE.
            </h3>
    </div>
    <div class="story st1">
        <img src="/assets/hwimg1.png" alt="" srcset="" width="80%" height="80%">
    </div>
</div>
<img id="rope1" src="/assets/toprope.png" alt="" srcset="" width="70%">
<div class="ourstory store2" id="story2">
    <div class="story st1">
        <img src="/assets/botrope.png" alt="" srcset="" width="80%" height="80%">
    </div>
    <div class="story st2">
        <img id="o1" src="/assets/02.png" alt="" srcset="">
      <!-- <p>We’re looking for amazing content writers!<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;That we can geared up with to attach with your company/ organization.<br><br>
            Lorem ipsum dolor sit amet consectetur. Ultrices quis amet sed odio tortor aliquam urna vestibulum aenean.
            Nibh pellentesque tortor tincidunt mattis ultrices adipiscing vitae urna. </p> -->
            <h3>
                WE'LL FACILITATE YOUR PURSUIT BY PROVIDING WRITERS THAT'LL APTLY FULFILL ALL YOUR REQUIREMENTS.
            </h3>
    </div>
    
</div>
<img id="rope2" src="/assets/rope2.png" alt="" srcset="" >
<img id="hwimg3" src="/assets/hwimg3.png" alt="" srcset="" >
<!--<div class="ourstory store2">
    <div class="story st2">
        <img id="o1" src="/assets/03.png" alt="" srcset="">
        <p>Creation of a team.<br><br>
            Lorem ipsum dolor sit amet consectetur. Ultrices quis amet sed odio tortor aliquam urna vestibulum aenean.
            Nibh pellentesque tortor tincidunt mattis ultrices adipiscing vitae urna. </p>
    </div>
    <div class="story st1">
        <img src="/assets/hwimg3.png" alt="" srcset="" width="100%" height="100%">
    </div>
</div>-->


<div class="whatwe" style="padding-top: 100px;">
<!--<h1>What We Do?</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto alias recusandae suscipit<br> reiciendis dolorum temporibus perferendis porro quaerat voluptate.</p>-->
<img src="/assets/abtchange.png" alt="" id="img4" srcset="" ><br>
<img src="/assets/hwimg5.png" alt="" id="img4" srcset="" >
<p>All of your data, which you will share with us, with medical writer, is safe and secure.<br> It won’t be shared with anybody or be mentioned anywhere. We value your privacy.<br> We are guardians of whatever you entrust us with.</p>
</div>
<app-footer></app-footer>