<img src="/assets/blogbg.png" id="bgimg" alt="" srcset="">
<div class="aboutland">
    <div class="abttext">
        <h1>Blogs</h1>
        <img src="/assets/abtbreaker.png" alt="" srcset="">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, necessitatibus distinctio libero labore
            nisi dolores vitae nulla suscipit cupiditate fugiat ea beatae soluta doloribus qui dicta nesciunt doloremque
            deserunt perspiciatis!
        </p>
    </div>
</div>

<div class="works">
    <p style="font-weight: 600;
font-size: 22px; color: #51ADE5;">OUR BLOGS</p>
    <h5 id="h5">The SciBOX Learning Platform</h5>


    </div>
    <div class="blogcard">
        <div class="card" >
            <img src="/assets/card1.png" id="imgb" class="card-img-top" alt="...">
            <h5 id="blogtitle">Blog Title</h5>
            <div class="card-body">
              <p class="card-text">
                John Doe | 21 Nov 2022<br>
                Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btnlearn">Learn More ➜</button>
            </div>
          </div>
          <div class="card">
            <img src="/assets/blog2.png" id="imgb" class="card-img-top" alt="...">
            <h5 id="blogtitle">Blog Title</h5>
            <div class="card-body">
              <p class="card-text">
                John Doe | 21 Nov 2022<br>
                Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btnlearn">Learn More ➜</button>
            </div>
          </div>
          <div class="card">
            <img src="/assets/blog3.png" id="imgb" class="card-img-top" alt="...">
            <h5 id="blogtitle">Blog Title</h5>
            <div class="card-body">
              <p class="card-text">
                John Doe | 21 Nov 2022<br>
                Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btnlearn">Learn More ➜</button>
            </div>
          </div>
         
    </div>
    <div class="blogcard">
        <div class="card" >
            <img src="/assets/blog4.png" id="imgb" class="card-img-top" alt="...">
            <h5 id="blogtitle">Blog Title</h5>
            <div class="card-body">
              <p class="card-text">
                John Doe | 21 Nov 2022<br>
                Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btnlearn">Learn More ➜</button>
            </div>
          </div>
          <div class="card">
            <img src="/assets/blog5.png" id="imgb" class="card-img-top" alt="...">
            <h5 id="blogtitle">Blog Title</h5>
            <div class="card-body">
              <p class="card-text">
                John Doe | 21 Nov 2022<br>
                Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btnlearn">Learn More ➜</button>
            </div>
          </div>
          <div class="card">
            <img src="/assets/blog6.png" id="imgb" class="card-img-top" alt="...">
            <h5 id="blogtitle">Blog Title</h5>
            <div class="card-body">
              <p class="card-text">
                John Doe | 21 Nov 2022<br>
                Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn btnlearn">Learn More ➜</button>
            </div>
          </div>
          
    </div>
    <div style="
    text-align: center; padding-bottom: 100px;">
    <button class="btn btn-m blast">Learn More ➜</button>
</div>
    <app-footer></app-footer>