<div class="medwriter">
    <div class="med medtext">
      <p>Them being at THE SciBOX means that they have been sifted and been through the two step authentication process. #1, their degrees and certifications have been verified. #2, proved themselves a worthy medical writer through display of their writing skills. Latter being a tough (not as much as life) competition between those sifted. RECRUIT WITH CONFIDENCE!</p><br><br>
    <h1>Team of<br>
    <span style="color: #51ADE5;">Medical Writers</span></h1><br>
    <img src="/assets/abtbreaker.png" alt="" srcset=""><br><br>
    <p>Construct a team composed of multiple medical writers and senior medical writers for big and strenuous tasks. You can it design it yourself or let us tailor design it for you. HIRE NOW! </p>
    </div>
    <div class="med medimg">
        <img src="/assets/medwr.png" alt="" srcset="" width="80%">
    </div>
    </div>
    
  <div class="works">
      <!--  <p style="font-weight: 600;
    font-size: 22px; color: #51ADE5;">Lorem ipsum.</p>
        <h5 id="h5">Lorem ipsum dolor sit amet.</h5>
    -->
    
        </div>
     <!--     <div class="blogcard">
            <div class="card" >
                <h5 id="blogtitle"><img src="/assets/serv1.png">&nbsp;&nbsp;BLOGS.</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Get a blog started or managed. Keep it up to date with the latest developments and your readers hooked with the engaging content.</p>
                    
                </div>
              </div>
              <div class="card">
                
                <h5 id="blogtitle"> <img src="/assets/serv2.png">&nbsp;&nbsp;ARTICLES.</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Get them written by a proper professional for proper outcome.</p>
                    
                </div>
              </div>
              <div class="card">
                
                <h5 id="blogtitle"> <img src="/assets/serv3.png">&nbsp;&nbsp;LAB REPORTS.</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Lab reports based on data you have gathered from your arduous experiments.</p>
                    
                </div>
              </div>
             
        </div>
        <div class="blogcard">
            <div class="card" >
                
                <h5 id="blogtitle"><img src="/assets/serv4.png">&nbsp;&nbsp;MEDICAL NEWS.</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Verifies, shares and elaborates. To keep the world up to date with what’s new in the world of medicine. Proving with proof to hope for the best in future.</p>
                    
                </div>
              </div>
              <div class="card">
                
                <h5 id="blogtitle"><img src="/assets/serv5.png">&nbsp;&nbsp;PATIENT EDUCATION<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  MATERIAL.</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Brochures, leaflets and all other materials that serve as a source of communicating vital information to the patients.</p>
                    
                </div>
              </div>
              <div class="card" >
                
                <h5 id="blogtitle"><img src="/assets/serv7.png">&nbsp;&nbsp;GHOST WRITING.</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Can be a ghost if you want to.</p>
                    
                </div>
              </div>
              
        </div> -->
    
        <div class="blogcard">
          <div class="card">
                
            <h5 id="blogtitle"><img src="/assets/serv6.png">&nbsp;&nbsp;MEDICAL WRITING.</h5>
            <div class="card-body">
              <p class="card-text">
                
                Everything that medical writing encompasses. </p>
                
            </div>
          </div>
            
              <div class="card">
                
                <h5 id="blogtitle"><img src="/assets/serv8.png">&nbsp;&nbsp;TIMEZONE.</h5>
                <div class="card-body">
                  <p class="card-text">
                    
                    Ready to work at your timezone.</p>
                    
                </div>
              </div>
              
        </div>
        <div style="
        text-align: center; padding-bottom: 100px;">
        <button class="btn btn-m blast" (click)="goToBottom()">Book a Meeting</button>
    </div>
  <!--  
    <div class="inc" (window:scroll)="onWindowScroll($event)">
    <h1 id="thesci">The SciBOX</h1>
        <div class="counter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="employees">
                            <p class="counter-count" >10</p> <span id="sign">+</span>
                            <p class="employee-p" style="font-weight: 600;
                            font-size: 22px; color: white;">HAPPY CLIENTS</p>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="customer">
                            <p class="counter-count">10</p><span id="sign">+</span>
                            <p class="customer-p"  style="font-weight: 600;
                            font-size: 22px; color: white;">CLIENT SERVED</p>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="design">
                            <p class="counter-count">7</p><span id="sign">+</span>
                            <p class="design-p"  style="font-weight: 600;
                            font-size: 22px; color: white;">YEARS OF EXPERIENCE</p>
                        </div>
                    </div>
        
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="order">
                            <p class="counter-count">10</p><span id="sign">+</span>
                            <p class="order-p"  style="font-weight: 600;
                            font-size: 22px; color: white;">TEAM MANAGEMENT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    
    <img id="servbg" src="/assets/servbg.png" alt="" srcset="">
        <div class="other" style="padding-top:50px;"><h1>Other Services</h1></div>
    <div class="blogcard2">
        <div class="card card2" >
            <img src="/assets/other1.png" id="imgb" class="card-img-top" alt="...">
            <h5 id="blogtitle2">Senior Medical Writer</h5>
            <div class="card-body">
              <p class="card-text">
                Senior medical writers have more than 2.5 years of experience, pertaining to writing medical content. A polished wizard of words.
   <br> HIRE NOW!</p><br><br>
                <button class="btn btnlearn" routerLink="/seniorcontentwriter">Learn More ➜</button>
            </div>
          </div>
          <div class="card card2">
            <img src="/assets/other2.png" id="imgb" class="card-img-top" alt="...">
            <h5 id="blogtitle2">Medical Writers</h5>
            <div class="card-body">
              <p class="card-text">
                An avid writer and a certified medical professional. We have pharmacists, physicians, nutritionists, psychologists, microbiologists and many more. Choose yourself or let us provide the best fit for you. 
             <br>   HIRE NOW!</p>
                <button class="btn btnlearn" routerLink="/medicalwriter">Learn More ➜</button>
            </div>
          </div>
         
    </div>
    
    <app-footer></app-footer>
    