<footer id="formss">
    <form action="" #forms = "ngForm" (ngSubmit)="submits(forms)" method="post">
    <div class="forms">
        <h5 class="txt">━HOW WE CAN HELP YOU?</h5>
        <p style="font-weight: 500;
        font-size: 28px; color:white">Fill out and send a form. Our team will contact you promptly.
        <br><br>
        I’m interested in...</p>
        <div class="medwriter">
        <div class="med writer1">
<img src="/assets/single.png" alt="" srcset=""><br><br>

<p id="med">Medical Writer</p>
<input ngModel #service="ngModel" required type="checkbox" name="chk1" id="check" (change)="toggleEditable($event)" value="medical writer">

        </div>
        <div class="med writer2">
            <img src="/assets/double.png" alt="" srcset=""><br><br>
            <p id="med">Senior medical writer</p>
            <input type="checkbox" name="" id="check" (change)="toggleEditable($event)" value="senior medical writer">
        </div>
        <div class="med writer3">
            <img src="/assets/third.png" alt="" srcset=""><br><br>
            <p id="med">Team of Writers</p>
            <input type="checkbox" name="" id="check" (change)="toggleEditable($event)" value="team of medical writer">
        </div>
    </div>
    <div> <p class="error" *ngIf=" forms.touched && !contentEditable==true">Please select a service</p></div>
       
    <input ngModel #name="ngModel" [(ngModel)]="names" type="text" required minlength="3" name="name" id="name" placeholder="First Name" >
    <p class="error errm" *ngIf="forms.touched && name.invalid">Name is Invalid</p>
    
<input ngModel #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="emails" type="text" name="company" id="company" placeholder="Company Email">
    <p class="error errm" *ngIf="forms.touched && email.invalid">Email is Invalid</p>
    <input type="number" ngModel #cnumber="ngModel" [(ngModel)]="phones" name="cnumber" id="cnumber" placeholder="Contact Number(Optional)" >
    <p class="error err1 err" style="position: absolute;" *ngIf="forms.touched && name.invalid">Name is Invalid</p>
        
        <p class="error err2 err" style="position: absolute; margin-left: 28%;" *ngIf="forms.touched && email.invalid">Email is Invalid</p>
        <div class="err"  *ngIf="forms.touched && email.invalid || forms.touched && name.invalid"><br></div>
    <textarea id="desc" name="desc" ngModel #desc="ngModel" [(ngModel)]="descs"  cols="30" rows="6" placeholder="Project Description" ></textarea>
    <div class="privacy">
<p class="pp ptext">Your data is safe with us. We are guardians of whatever you entrust us with. Your data won't be shared with anybody. To learn more read our <a href="" id="href">Privacy Policy</a>.</p>
<div class="pp" *ngIf="loading1 == true"><button type="submit" class="btn pbutton" >Send</button></div>
<div class="pp" *ngIf="loading1 == false"><p class="btn"><img src="/assets/load.gif" height="40px" alt="" srcset=""></p></div>

    
   
    </div>

    </div>
</form>
    <div class="footer1">
        <h5 id="join">Join Our Team</h5>
        <button class="btn btn-m btn-m1" routerLink="/career">Career ➜</button>
    </div>
    <div class="footer2">
        <h5 id="join">Get In Touch</h5>
        <button class="btn btn-m btn-m2" (click)="goToBottom()">Contact us ➜</button>
    </div>
    <div class="footer3">
        <img id="image" src="/assets/Frame 5.png">
        <p>Hire Avid Medical Writers Now!</p>
    </div>
    <div class="footer4">
        <div>
        <a href="https://web.facebook.com/TSciBOX"><img id="footimg"  src="/assets/sm2.png"></a></div>
        <div>
        <a href="https://www.instagram.com/tscibox/"><img id="footimg"  src="/assets/sm3.png"></a>
        <a href="https://www.linkedin.com/company/thescibox/"><img id="footimg"  src="/assets/sm4.png"></a></div>
    </div>
</footer>