<img src="/assets/pricebg2.png" id="bgimg" alt="" srcset="">
<div class="aboutland">
    <div class="abttext">
        <h1>Pricing</h1>
        <img src="/assets/abtbreaker.png" alt="" srcset=""><br><br>
        <p>
            Transparency is what serves as a backbone for productive relationships. For this we have it all displayed for you.
        </p>
    </div>
</div>

<div class="prplans">
<h3 style="padding-bottom: 100px; padding-top: 100px;">Pricing Plan<br>
    <img src="/assets/abtbreaker.png" alt="" srcset=""></h3>

<!--<div class="manual">
<p class="man">* Payments are to be made exclusive of tax.</p>
<div class="man">
    
    <p>Plan &nbsp;</p>
<select name="" id="">
    <option value="monthly">Monthly</option>
    <option value="Weekly">Weekly</option>
    <option value="Daily">Daily</option>
</select>
    <p style="    padding-right: 10px;">Select Currency</p>
    <select name="" id="">
        <option value="USD">$ USD</option>
        <option value="Weekly">Rs</option>
        <option value="Daily">Riyal</option>
    </select></div>
</div>-->
<div class="plans">
<div class="plan p1">
    <div class="plantext" style="padding-top: 10px;">
<h3 style="color:#51ADE5;">Medical Writer &nbsp;&nbsp;&nbsp;&nbsp; <img src="/assets/single.png" alt="" height="50px" srcset=""> 
</h3><br>
<h4>USD 15.00/HOUR</h4>
        <h4>USD 1199/ Bi-WEEKLY</h4><br>

<p>An avid writer and a certified medical professional. A proficient medical writer.</p><br><br>
<div style="text-align: left;
padding-left: 25px;">
<p>•&nbsp; For intermediate level task.</p>
<p>•&nbsp; For more details, <a style="color: #fff;" routerLink="/medicalwriter">Click Here</a>.</p>
<p>•&nbsp; Ready to work at your timezone.</p><br></div>
<button class="button">Initiate Today</button> </div> 
</div>
<div class="plan p2">
    <div class="plantext" style="padding-top: 10px;">
        <h3 style="color:#51ADE5; padding-left: 20px;text-align: left;">Senior Medical &nbsp;&nbsp;&nbsp;&nbsp; <img src="/assets/double.png" alt="" height="50px" srcset=""> <br>Writer 
        </h3><br>
        <h4>USD 20.00/ HOUR</h4>
<h4>USD 1599/ BI-WEEKLY</h4><br>
        <p>Senior medical writers have more than 2.5 years of experience, pertaining to writing medical content. A polished wizard<br> of words.
            </p><br><br>
        <div style="text-align: left;
        padding-left: 25px;">
        <p>•&nbsp; Efficiently does complex and complicated tasks.</p>
        <p>•&nbsp; For more details, <a style="color: #fff;" routerLink="/seniorcontentwriter">Click Here</a>.</p>
        <p>•&nbsp; Ready to work at your timezone.</p><br></div>
        <button class="button">Initiate Today</button> </div> 

</div>
<div class="plan p3">
    <div class="plantext" style="padding-top: 10px;">
        <h3 style="    color: #51ADE5;
        text-align: start;
        padding-left: 23px;">Team of Writer &nbsp;&nbsp;&nbsp;&nbsp; <img src="/assets/third.png" alt="" height="50px" srcset=""> 
        </h3><br>
        <h4>DEPENDS ON<br> THE COMPOSITION</h4><br>
        <p>Construct a team composed of multiple medical writers and senior medical writers for big and strenuous tasks.</p><br><br>
        <div style="text-align: left;
        padding-left: 25px;">
        <p>•&nbsp; Form a team for strenuous and huge tasks.</p>
        <p>•&nbsp; For more details, <a style="color: #fff;" routerLink="/teamofwriters">Click Here</a>.</p>
        <p>•&nbsp; Ready to work at your timezone.</p><br></div>
        <button class="button">Initiate Today</button> </div> 

</div>
</div>
</div>
<app-footer></app-footer>