#bgimg{
    display: none;
}
.aboutland{
    left: 0px;
    top: 0px;
    height: 655px;
    background:  url('/assets/pricebg2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.abttext{
    color: white;
    margin-left: 10%;
    padding-top: 10%;
    width: 40%;
}
.prplans{
    background: radial-gradient(100% 100% at 0% 0%, #0F1010 0%, #070707 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
width: 90%;
margin: auto;
text-align: center;
color: white;
margin-bottom: 100px;
}
.manual{
    width: 90%;
    text-align: left;
    display: flex;
    margin: auto;
    justify-content: space-between;
    border-bottom: 1px solid white;
    align-items: center;
    text-align: center;
}
.man{
   display: flex;
   align-items: baseline;
}
select{
    background: #51ADE5;
border-radius: 100px;
color: black;
height: max-content;
margin-right: 20px;
padding: 7px;
font-weight: 500;
    font-size: 14px;
}
.plans{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.plan{
    background: #090A0A;
border: 1.5px solid #FFFFFF;
width: 320px;
height: max-content;
padding-bottom: 20px;
margin: 2%;
}
.button{
    background: #51ADE5;
    width: 70%;
    color: #070707;
    font-weight: 600;
    padding: 10px;
}
.p1,.p3{
    margin-top: 10%;
}
.plan:hover{
    background: rgba(81, 173, 229, 0.1);
/* #51ADE5 */

border: 1.5px solid #51ADE5;
}
@media only screen and (min-width : 1500px) {

    #bgimg{
        display: block;
 
        width: 100%;
        height: 655px;
        position: absolute;
        top:0;
        left: 0;
        z-index: -1;
    }
    .aboutland{
        background: none;
    }
}

@media only screen and (max-width: 990px) {
    .abttext{
        width: 80%;
    }
    .aboutland{
        height: 400px;
    }
.manual{
    flex-direction: column;
    text-align: start;
}
.p1,.p3{
    margin-top: 2%;
}
}

@media only screen and (max-width: 600px) {
    .aboutland{
        background-size: 122%;
        
    }
    .plan{
        height: max-content;
        padding-bottom: 20px;
    }
    
}