<nav class="navbar navbar-expand-lg navbar-light no-bg">
    <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><img src="/assets/Frame 5.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ullay">
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" style="color: white;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
          Hire
        </a>
        <ul class="dropdown-menu ddrop" style="background-color: black;">
          <li><a class="dropdown-item" routerLink="/medicalwriter">Medical Writer</a></li>
          <li><a class="dropdown-item" routerLink="/seniorcontentwriter">Senior Medical Writer</a></li>
          <li><a class="dropdown-item" routerLink="/teamofwriters">Team Of Medical Writers</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" routerLink="/chooseus">Why Choose Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" routerLink="/howweoperate">How We Operate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" routerLink="/pricing">Pricing</a>
      </li>
          <li class="nav-item" >
            <a class="nav-link" style="color: white;" routerLink="/aboutus">Our Story</a>
          </li>
         
          
          
          
       <!--   <li class="nav-item">
            <a class="nav-link" style="color: white;" routerLink="/blogs">Blogs</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" style="color: white;" routerLink="/career">Career</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link btn btn-sm" style="font-weight: bold;"(click)="goToBottom()">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>